discord.py==2.5.2
  jishaku==2.5.2
  aiohttp==3.9.5
  Flask==3.0.3
  motor==3.4.0
  pymongo==4.7.2
  requests==2.31.0
  async-timeout==4.0.3
  psutil==5.9.8
  httpx==0.27.0
  PyNaCl
  discord-ext-menus
  discord-games
  reactionmenu
  tasksio
  wavelink==2.6.5
  